.menu {
	display: none;
}

.menu ul {
	display: flex;
	list-style: none;
	gap: 40px;
}

.menu ul a {
	text-decoration: none;
	color: var(--white);
	font: var(--button);
	text-transform: uppercase;
}

.menu ul a:hover {
	color: #f1f1f1;
}

.menu ul a.is-active {
	color: var(--purple)
}

.menu ul a.is-active:hover {
	color: #5730bb;
}

@media screen and (min-width: 768px) {
	.menu {
		display: block;
	}
}